5. Customer_Feedback_Agent.json
{
  "name": "Customer Feedback Agent",
  "nodes": [
    {
      "parameters": {
        "path": "feedback",
        "formTitle": "Customer Feedback",
        "formDescription": "Please provide your feedback here...",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Please type your full name here...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Please type your email here..."
            },
            {
              "fieldLabel": "Feedback ",
              "placeholder": "Please provide your feedback here...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "892edc8d-ec5a-4b1e-a666-0976ae26d98c",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        200,
        260
      ],
      "webhookId": "0baed415-6c25-436a-9f09-07658d1d88d0"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "66454b24-8cf0-49c2-b7dc-57ccb304ebcf",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        300,
        580
      ],
      "credentials": {
        "groqApi": {
          "id": "RZoEIEe7Fr3xnEdO",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "id": "322fa224-0aed-4f5d-be74-b04eb1d188b7",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        460,
        580
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5syWAis16kJa3I",
          "mode": "list",
          "cachedResultName": "n8n feedback",
          "cachedResultUrl": "https://airtable.com/app5syWAis16kJa3I"
        },
        "table": {
          "__rl": true,
          "value": "tblBwHRvzksODiNtO",
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://airtable.com/app5syWAis16kJa3I/tblBwHRvzksODiNtO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json['Feedback '] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "74434d0a-0ba0-4b24-b341-e97c780ad341",
      "name": "Compliment",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1260,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "UvvFjAySYuZXc4Y9",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5syWAis16kJa3I",
          "mode": "list",
          "cachedResultName": "n8n feedback",
          "cachedResultUrl": "https://airtable.com/app5syWAis16kJa3I"
        },
        "table": {
          "__rl": true,
          "value": "tbl5dzxobvNSFqBhf",
          "mode": "list",
          "cachedResultName": "Complaint",
          "cachedResultUrl": "https://airtable.com/app5syWAis16kJa3I/tbl5dzxobvNSFqBhf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Name }}",
            "Feedback": "={{ $json['Feedback '] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6da1a42e-2138-49b6-a0c1-346c55284292",
      "name": "Complaint",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1260,
        380
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "UvvFjAySYuZXc4Y9",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5syWAis16kJa3I",
          "mode": "list",
          "cachedResultName": "n8n feedback",
          "cachedResultUrl": "https://airtable.com/app5syWAis16kJa3I"
        },
        "table": {
          "__rl": true,
          "value": "tblMCKd6i3OOUbB8Y",
          "mode": "list",
          "cachedResultName": "Feature Request",
          "cachedResultUrl": "https://airtable.com/app5syWAis16kJa3I/tblMCKd6i3OOUbB8Y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Response": "={{ $json['Feedback '] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6866c4ae-d2c6-4bc9-94a8-d2478c925a2a",
      "name": "Feature Request",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1260,
        580
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "UvvFjAySYuZXc4Y9",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Your role is to determine if a customer feedback is a Feature Request, a Compliment, or a Complaint. \n\nHere is the customer feedback:   {{ $json['Feedback '] }}\n\nPlease make sure your output is only one of three: Feature Request, a Compliment, Complaint. \n",
        "options": {}
      },
      "id": "315a6ae5-57b5-468b-8011-d868f6b1cd43",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        440,
        380
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "ea436418-7442-4aa3-92f0-d6a6324420db",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        220
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0268dd35-2efd-4478-947c-6a2b0a57d01f",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Compliment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08be5a73-137a-49c6-8b20-5ef9e5293284",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9198de3e-5552-4506-841a-a652a87e999e",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feature Request"
            }
          ]
        },
        "options": {}
      },
      "id": "7012e2bf-d4bc-40a3-a6bf-6c7caac25a95",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07P2E6LE9E",
          "mode": "list",
          "cachedResultName": "customer-feedback"
        },
        "text": "={{ $json.fields.Feedback }}",
        "otherOptions": {}
      },
      "id": "3026291f-483c-4cdb-b6af-e55f363788f8",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        200
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "4BbsXpuuF0zlQW0i",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07MTUQASCF",
          "mode": "list",
          "cachedResultName": "customer-feature-request"
        },
        "text": "={{ $json.fields.Response }}",
        "otherOptions": {}
      },
      "id": "dea80e8d-565c-4a83-ae11-0d4cfc157d03",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        580
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "4BbsXpuuF0zlQW0i",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "Customer Complaint Response",
        "message": "=Hello {{ $('Merge').item.json.Name }} I am sorry for the incovnwe f",
        "options": {}
      },
      "id": "3666416e-c33f-4f14-8f96-4b9065743684",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1480,
        380
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "TFQDvjUrgdE1DdVx",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Compliment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complaint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feature Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliment": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Request": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b44a5525-05cf-4cc1-b602-a8b754d07272",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae56acec072bc16273543d89bb011ed9ab6cf3dacd823d15e41231870330f72a"
  },
  "id": "ksNT2PQDJoREoUNS",
  "tags": []
}