eJzCd8JcSUW18aCS-agent13_Costumer_urgency_support.json
{
  "name": "agent13_Costumer_urgency_support",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Costumer Support Form",
        "formDescription": "Please tell about the issue your are facing",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Customer Name"
            },
            {
              "fieldLabel": "Customer Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Issue Description",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "33497488-bcdb-4536-a2aa-29b5a294f955",
      "name": "On form submission",
      "webhookId": "0ad4fb5b-56be-4952-aafe-43e193e65de2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are a Senior Support Manager. Task: Analyze the incoming support ticket. Input: {{ $json['Issue Description'] }}\n\nAnalysis Rules:\n\nSentiment: Is the customer Angry, Neutral, or Happy?\n\nUrgency: Is this a \"System Outage/Billing Issue\" (High) or \"Feature Request/How-to\" (Low)?",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "47eaa874-51b5-4ad1-b9a0-51d06a8f05fb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "7f3f0668-e971-42fa-9796-f6af9066589c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kk6i2u3W9JapHcx2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"sentiment\": \"Negative\", \"urgency\": \"High\", \"summary\": \"Customer is unable to login\", \"suggested_reply\": \"...\" }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "f807b14a-eb14-4dc4-8c7c-acc269e15cc1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "Angry",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "08d1e6a6-aa2a-43d0-862b-7dadeb01bc3c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37aa64f9-1f46-447c-89d6-504c5230d05e",
                    "leftValue": "={{ $json.output.sentiment }}",
                    "rightValue": "Neutral",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        560,
        0
      ],
      "id": "aed470b2-ae9d-4221-8261-eceeddc6fe2a",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/cards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idList",
              "value": "69203a0d1cc981a0f4e8dd81"
            },
            {
              "name": "name",
              "value": "=🔥 URGENT: {{ $('Basic LLM Chain').item.json.output.summary }}"
            },
            {
              "name": "desc",
              "value": "=Customer: {{ $('On form submission').item.json[\"Customer Name\"] }} Sentiment:{{ $json.output.sentiment }}  Issue: {{ $('On form submission').item.json[\"Issue Description\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        -96
      ],
      "id": "1d5e412d-3b44-49da-9533-241aa1f3b427",
      "name": "HTTP Request",
      "credentials": {
        "trelloApi": {
          "id": "fmjF3uprq1nnhQfC",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "saad.shahzadhanif@gmail.com",
        "subject": "🚨 ALERT: Angry Customer Ticket",
        "message": "\"Review immediately. Customer is angry.\"",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        -96
      ],
      "id": "13505e62-45bb-4415-ade8-92655f40c1c2",
      "name": "Send a message",
      "webhookId": "891d036b-cac0-45e5-9938-c78d7a9bd909",
      "credentials": {
        "gmailOAuth2": {
          "id": "9PRLFRZIO5JK8Asp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-Wci2gFnRnMA4kVNlbVxXS27f3mOTTQR7qllUHqEVMk",
          "mode": "list",
          "cachedResultName": "agent 13 support ticket",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Wci2gFnRnMA4kVNlbVxXS27f3mOTTQR7qllUHqEVMk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Wci2gFnRnMA4kVNlbVxXS27f3mOTTQR7qllUHqEVMk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('On form submission').item.json.submittedAt }}",
            "name": "={{ $('On form submission').item.json['Customer Name'] }}",
            "issue ": "={{ $('On form submission').item.json['Issue Description'] }}",
            "ai summary": "={{ $('Basic LLM Chain').item.json.output.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "issue ",
              "displayName": "issue ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai summary",
              "displayName": "ai summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        96
      ],
      "id": "351667ea-a1d4-4e46-b7bd-6256b0b09939",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w9bCSz4ms08LQU10",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Customer Email'] }}",
        "subject": "=Ticket Received: {{ $('Basic LLM Chain').item.json.output.summary }}",
        "message": "=\"Hi {{ $('On form submission').item.json['Customer Name'] }}, we received your request. A team member will review it within 24 hours.\"",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        96
      ],
      "id": "cd5756d8-d004-482f-be65-cac1a938ed42",
      "name": "Send a message1",
      "webhookId": "86a8df67-2389-454a-891d-10a92e1d98d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "9PRLFRZIO5JK8Asp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-Wci2gFnRnMA4kVNlbVxXS27f3mOTTQR7qllUHqEVMk",
          "mode": "list",
          "cachedResultName": "agent 13 support ticket",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Wci2gFnRnMA4kVNlbVxXS27f3mOTTQR7qllUHqEVMk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Wci2gFnRnMA4kVNlbVxXS27f3mOTTQR7qllUHqEVMk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('On form submission').item.json.submittedAt }}",
            "name": "={{ $('On form submission').item.json['Customer Name'] }}",
            "issue ": "={{ $('On form submission').item.json['Issue Description'] }}",
            "ai summary": "={{ $('Basic LLM Chain').item.json.output.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "issue ",
              "displayName": "issue ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai summary",
              "displayName": "ai summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -80
      ],
      "id": "7f503bac-9ce4-44e8-83a4-a7a21c28f212",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w9bCSz4ms08LQU10",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}